<div class="page">
  <div class="form-container">
    <mat-card class="form-shell mat-elevation-z8">
      <mat-card-title-group *ngIf="title">
        <mat-card-title class="mat-display-2">{{ title }}</mat-card-title>
      </mat-card-title-group>
      <form [autocomplete]="autocomplete" [formGroup]="form" class="form">
        <ng-content></ng-content>
        <div
          *ngIf="form.hasError('responseError')"
          class="response-error-container">
          <button
            class="mat-body-2 mat-error button error-button"
            color="warn"
            disableRipple
            mat-raised-button>
            {{ form.getError('responseError') }}
          </button>
        </div>
        <div class="button-container" mat-dialog-actions>
          <button
            (click)="submitted()"
            [disabled]="form.invalid || buttonDisabled"
            class="button"
            color="accent"
            mat-raised-button>
            {{ buttonText }}
          </button>
          <button
            (click)="onCancel()"
            class="button"
            mat-raised-button
            *ngIf="isDialog">
            Cancel
          </button>
        </div>
        <div *ngIf="login" class="mat-body reset-container">
          <span>Forgot your password? </span
          ><a routerLink="/auth/reset-password">Click here to reset!</a>
        </div>
      </form>
    </mat-card>
  </div>
</div>
