<mat-drawer-container class="home-container" autosize>
  <mat-drawer class="home-todo-lists-nav" #drawer mode="side" opened>
    <mat-toolbar color="primary">
      <h3>Todo Lists</h3>
    </mat-toolbar>
    <div class="home-todo-lists-nav--content">
      <div
        (click)="onSelect(todoList)"
        class="home-todo-lists-nav--list-item"
        *ngFor="let todoList of todoLists">
        <p class="home-todo-lists-nav--list-item--text">
          {{ todoList.title }}
        </p>
      </div>
    </div>
  </mat-drawer>
  <mat-toolbar class="module-title--wrapper" color="primary">
    <div (click)="drawer.toggle()">
      <div
        class="hide-show--container"
        *ngIf="drawer.opened; else drawerClosed">
        <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
        <p class="icon-text">Hide</p>
      </div>
      <ng-template #drawerClosed>
        <div class="hide-show--container">
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <p class="icon-text">Show</p>
        </div>
      </ng-template>
    </div>
    <div class="module-title--container">
      <h1 class="module-title--title">Dashboard</h1>
    </div>
  </mat-toolbar>
  <div class="display-container">
    <div *ngIf="selectedTodoList">
      <mat-card class="mat-elevation-z2">
        <mat-card-header>
          <mat-card-title>{{ selectedTodoList.title }}</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content>
          <mat-expansion-panel
            *ngFor="let todo of todos"
            hideToggle
            #mep="matExpansionPanel"
            class="todo-list mat-elevation-z2">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ todo.title }}</mat-panel-title>
              <mat-icon *ngIf="mep.expanded; else notExpanded"
                >keyboard_arrow_up
              </mat-icon>
              <ng-template #notExpanded>
                <mat-icon>keyboard_arrow_down</mat-icon>
              </ng-template>
            </mat-expansion-panel-header>
            <mat-card class="mat-elevation-z2">
              <p class="todo-content">{{ todo.content }}</p>
            </mat-card>
            <div class="todo-icon-container">
              <div class="todo-icon-wrapper" (click)="todoEditClicked(todo.id)">
                <mat-icon class="todo-icon">edit</mat-icon>
                <p class="todo-icon-text">Edit</p>
              </div>
              <div
                class="todo-icon-wrapper"
                (click)="todoCompleteClicked(todo.id)">
                <mat-icon class="todo-icon">assignment_turned_in</mat-icon>
                <p class="todo-icon-text">Done</p>
              </div>
              <div
                class="todo-icon-wrapper"
                (click)="todoDeleteClicked(todo.id)">
                <mat-icon class="todo-icon">delete</mat-icon>
                <p class="todo-icon-text">Del</p>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
