<mat-drawer-container class="home-container" autosize>
  <mat-drawer class="home-todo-lists-nav" #drawer mode="side" opened>
    <app-todo-list-index></app-todo-list-index>
  </mat-drawer>
  <mat-toolbar class="module-title--wrapper" color="primary">
    <div (click)="drawer.toggle()">
      <div
        class="hide-show--container"
        *ngIf="drawer.opened; else drawerClosed">
        <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
        <p class="icon-text">Hide</p>
      </div>
      <ng-template #drawerClosed>
        <div class="hide-show--container">
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
          <p class="icon-text">Show</p>
        </div>
      </ng-template>
    </div>
    <div class="module-title--container">
      <h1 class="module-title--title">Dashboard</h1>
    </div>
  </mat-toolbar>
  <div class="display-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
