<nav
  class="mat-elevation-z6 nav-bar-main"
  [tabPanel]="tabPanel"
  backgroundColor="primary"
  mat-tab-nav-bar>
  <ng-container *ngIf="signedIn$ | async; else notSignedIn">
    <a
      id="home-link"
      mat-tab-link
      (click)="selectCurrentNav(routes.HOME)"
      [active]="compareCurrentNav(routes.HOME) | async"
      routerLink="/"
      >Home</a
    >
    <a id="logout-link" mat-tab-link routerLink="/auth/logout">Logout</a>
  </ng-container>
  <ng-template #notSignedIn>
    <a
      id="login-link"
      mat-tab-link
      (click)="selectCurrentNav(routes.LOGIN)"
      [active]="compareCurrentNav(routes.LOGIN) | async"
      routerLink="/auth/login"
      >Login</a
    >
    <a
      id="signup-link"
      mat-tab-link
      (click)="selectCurrentNav(routes.SIGNUP)"
      [active]="compareCurrentNav(routes.SIGNUP) | async"
      routerLink="/auth/signup"
      >Signup</a
    >
  </ng-template>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
