.todo-list {
  margin: 10px 0;
}

.todo-content {
  margin: 8px 0;
}

.todo-icon-container {
  display: flex;
  flex-direction: row;
  margin: 16px 0 0 0;
}

.todo-icon-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  line-height: 16px;
  font-size: 12px;
  align-items: center;
  margin: 0 8px 0 0;

  &:hover {
    cursor: pointer;
  }
}

.todo-icon {
  height: 14px;
  text-align: center;
  font-size: 12px;
}

.todo-icon-text {
  margin: 0;
  height: 14px;
}
